<?xml version="1.1" encoding="UTF-8" ?>
<response>
    <task>rsync_pdbredo</task>
    <optimized><TMPL_VAR NAME=optimized></optimized>
    <date><TMPL_VAR NAME=date></date>
    <status><TMPL_VAR NAME=status></status>
    <command><![CDATA[<TMPL_VAR NAME=command>]]></command>
    <error><![CDATA[<TMPL_VAR NAME=error>]]></error>
</response>